# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files (secrets!)
.env
.env.*   # e.g. .env.local, .env.production

# Prisma
prisma/dev.db
prisma/dev.db-journal
.prisma/

# Logs
logs
*.log
*.log.*

# OS files
.DS_Store
Thumbs.db

# Build output
/dist
/build

# Coverage / test output
coverage/

# Editor folders/files
.vscode/
.idea/
*.swp
